<!DOCTYPE html>
<!-- thymeleaf dialect 적용 -->
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout}"
 	  lang="ko-kr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원 정보 수정</title>

    <!-- AJAX library axios -->
    <script th:src="@{'/axios/1.7.4/dist/axios.min.js'}"></script>

    <!-- 2단계 : 소스 코드 복사
        // javateacher) 본 회원가입 코드에서는 도로명으로 선택하든 지번 주소로 선택하든
        // 일괄적으로 도로명으로 기본주소가 들어가도록 설정하였습니다. 추후 지번 주소와
        // 같이 송부하기 위해서는 아래의 코드를 약간 변경하여 지번주소가 들어갈 필드를
        // 추가하시면 되겠습니다. -->
    <script th:src="@{'/js/member_update.js'}" charset="UTF-8"></script>

    <!-- 메시징 -->
    <script th:inline="javascript" th:if="${msg != null}">
		alert([[${msg}]]);
	</script>
	<style>
		.content_sect_pnl {
			border-radius: 10px;
			padding: 5px;
			box-shadow: rgba(0, 0, 0, 1) 0px 2px 8px;
		}
		a {
			color: white;
			text-decoration: none;
		}
	</style>
</head>
<body>

	<!-- layout template 적용 : class="main_sect_pnl" -->
	<div layout:fragment="content" class="main_sect_pnl w-100">

		<div class="content_sect_pnl mx-auto" style="width:700px;">

		    <!-- 회원 정보 수정 -->
		    <div id="form_content_pnl">

		        <h2 class="my-3" style="text-align: center; font-weight: bold;">회원정보수정</h2>

		        <div id="form_content_box">

		            <form id="frm" th:action="@{'/member/updateProc'}" method="post" autocomplete="off" th:object="${memberUpdateDTO}">

		                <!-- 회원 아이디-->
		                <div id="id_fld_pnl" class="row py-2">

		                    <div class="col-3 pt-1 fld_label">
		                        <label for="id">아이디</label>
		                    </div>

		                    <div class="col-9 fld_content" th:text="*{id}"></div>

		                </div>
		                <!--// 회원 아이디-->

		                <!-- 수정용 패쓰워드(2개) -->
		                <div id="pw1_fld_pnl" class="row py-2">

		                    <div class="col-3 pt-1 fld_label">
		                        <label for="password1">비밀번호(신규)</label>
		                    </div>

		                    <div class="col-9 fld_content">
		                        <input type="text" class="form-control" id="password1" name="password1" maxlength="20" th:field="*{password1}" />
		                    </div>

		                </div>

		                <div id="pw2_fld_pnl" class="row py-2">

		                    <div class="col-3 pt-1 fld_label">
		                        <label for="password2">비밀번호(확인)</label>
		                    </div>

		                    <div class="col-9 fld_content">
		                        <input type="text" class="form-control" id="password2" name="password2" maxlength="20" th:field="*{password2}" />
		                    </div>

		                </div>

		                <!-- 회원 패쓰워드 에러 메시징 -->
		                <div id="password_fld_err_pnl">
		                </div>
		                <!--// 회원 패쓰워드 -->

		                <!-- 회원 이름-->
		                <div id="name_fld_pnl" class="row py-2">

		                    <div class="col-3 pt-1 fld_label">
		                        <label for="name">이름</label>
		                    </div>

		                    <div class="col-9 fld_content" th:text="*{name}"></div>

		                </div>
		                <!--// 회원 이름 -->

		                <!-- 회원 이메일 -->
		                <div id="email_fld_pnl" class="row py-2">

		                    <div class="col-3 pt-1 fld_label">
		                        <label for="email">이메일</label>
		                    </div>

		                    <div class="col-9 fld_content" th:text="*{email}"></div>

		                </div>

		                <!-- 회원 휴대폰 -->
		                <div id="mobile_fld_pnl" class="row py-2">

		                    <div class="col-3 pt-1 fld_label">
		                        <label for="mobile">휴대폰</label>
		                    </div>

		                    <div class="col-9 fld_content" th:text="*{mobile}"></div>

		                </div>

		                <!-- 회원 생일 -->
		                <div id="birthday_fld_pnl" class="row py-2">

		                    <div class="col-3 pt-1 fld_label">
		                        <label for="birthday">생일</label>
		                    </div>

		                    <div class="col-9 fld_content"
		                    	 th:text="${#dates.format(memberUpdateDTO.birthday, 'yyyy년 MM월 dd일')}"></div>

		                </div>
		                <!--// 회원 생일 -->

		                <!-- 가입일 -->
						<div id="joindate_fld_pnl" class="row py-2">

							<div class="col-3 pt-1 fld_label">
								<label>가입일</label>
							</div>

							<div class="col-9 fld_content"
						    	th:text="${#dates.format(memberUpdateDTO.joindate, 'yyyy년 MM월 dd일 HH:mm:ss')}"></div>

						</div>
						<!--// 가입일 -->

						<!-- 히든 필드들  -->
						<div>
							<input type="hidden" id="id" name="id" th:field="*{id}" readonly />
							<input type="hidden" id="pw" name="pw" th:field="*{pw}" readonly />
							<input type="hidden" id="name" name="name" th:field="*{name}" readonly />
							<input type="hidden" id="birthday" name="birthday" th:field="*{birthday}" readonly />
							<input type="hidden" id="joindate" name="joindate" th:field="*{joindate}" readonly />
							<input type="hidden" id="enabled" name="enabled" th:field="*{enabled}" />
						</div>
						<!--// 히든 필드들  -->

		                <!-- 회원정보 수정/취소 버튼 -->
		                <div id="buttons_fld_pnl" class="d-flex justify-content-center py-2">
		                    <button class="btn btn-primary me-2" id="submit_btn" type="submit">수정하기</button>
		                </div>
		                <!--// 회원 정보 수정/취소 버튼 -->

		            </form>

		        </div>

		   	<!-- thymeleaf dialect -->
		    </div>
		    <!-- content -->

	    </div>
	    <!--// 회원 정보 수정 -->

    </div>
    <!--// layout -->

</body>
</html>