<!DOCTYPE html>
<html lang="ko" 
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
<!-- 
	참고)
	
	- Spring Security/Thymeleaf
	: https://github.com/thymeleaf/thymeleaf-extras-springsecurity
	
	- Spring Security : Auth Method(인증/인가 관련 메서드)
	: www.classum.com/main/space/126296/community/396
-->	  
	
<div th:fragment="header">

	<div class="header_sect_pnl">
	
		<ul id="main_menu">
		
			<!-- gnb -->
			<li><a th:href="@{/home}">Home</a></li>
			
			<li>
				<div class="search">
					<input type="text" placeholder="search">
					<a href="#"><i class="bi bi-search fs-6"></i></a>
				</div>
			</li>

			<li><a th:href="@{/board/list}">문의</a></li>
			<!-- // gnb -->
			
			<!-- gnb(로그인전) -->
			<li sec:authorize="isAnonymous()"><a th:href="@{/login}">로그인</a></li>
			
			<li sec:authorize="isAnonymous()"><a th:href="@{/join}">회원가입</a></li>
			<!-- // gnb(로그인전) -->
						
			<!-- gnb(로그인후) -->
			<li sec:authorize="isAuthenticated()"><a th:href="@{/myPage}"><i class="bi bi-person fs-3"></i></a></li>
			
			<!-- <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">로그아웃</a></li>
			
			<li sec:authorize="isAuthenticated()"><a th:href="@{/member/view}">회원정보 조회</a></li>
			
			<li sec:authorize="isAuthenticated()"><a th:href="@{/member/update}">회원정보 수정</a></li> -->
			<!-- // gnb(로그인후) -->
						
			<!-- gnb(관리자) -->
			<li sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/admin/viewAllWithRoles}">회원 관리</a></li>
			<!-- // gnb(관리자) -->
			
		</ul>

	</div>

</div>