<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout_find}"
 	  lang="ko">
<head>
<meta charset="UTF-8">
<title>login</title>
<script th:inline="javascript" th:if="${error == 'true'}">
	alert([[${msg.message}]]);
</script>
<style>
.error 
{
	padding: 10px;
	color: red;
}

.msg 
{
	padding:10px;
	color:red;
}

.table-borderless>:not(caption)>*>* {
	background-color: #FFE4C4;
}

.find {
	text-decoration: none;
	color: black;
}

.find:hover {
	color: red;
}

a#findId.find {
	text-decoration: none;
	padding-left: 155px;
}

</style>
</head>
<body>
	<div id="wrap" layout:fragment="content" class="main_sect_pnl">
		<div id="find-box">
			<div id="form_content_pnl" class="mx-auto">
			<h3>비밀번호 찾기</h3>
			<!-- findPw -->
			<form id="findPw" name="findPw" th:action="@{'/find/findPw'}" method="post">
				<!-- 아이디/비밀번호 찾기 페이지 이동-->
				<div>
					<a th:href="@{/find/findId}" class="find" id="findId">아이디 찾기</a>
					&nbsp; | &nbsp;
					<a th:href="@{/find/findPw}" class="find" id="findPw">비밀번호 찾기</a>
				</div>
				<!-- // 아이디/비밀번호 찾기 페이지 이동 -->
				
				<!-- 아이디 입력란 -->
				<div id="id_fld_pnl" class="row py-2">
					<div>
						<input type="text" id="id" maxlength="20" placeholder="아이디" />
					</div>
				</div>
				<!-- // 아이디 입력란 -->
                
                <!-- 이메일 입력란 -->
                <div id="email_fld_pnl" class="row py-2">
	                <div class="col-8">
	                	<input type="email" id="email" placeholder="이메일" />
	                </div>
	                <div class="col-4">
	                	<button type="button" class="btn btn-outline-primary" id="sendNum">번호전송</button>
	                </div>
                </div>
                <!-- // 이메일 입력란 -->
                
                <!-- 인증번호 입력란 -->
                <div class="form-group check_input row py-2">
                	<div class="col-8">
                		<input type="text" id="inputNum" placeholder="인증번호" />
                	</div>
                	<!-- 카운트다운 -->
                	<div class="col-1" id="timer"></div>
                	<div class="col-3">
                		<button type="button" class="btn btn-primary" id="submitBtn">확인</button>
                	</div>
                </div>
                <!-- // 인증번호 입력란 -->
			
				<!-- 비밀번호 재설정 버튼 -->
				<div id="btn" class="d-flex justify-content-evenly py-2">
					<button class="rePwd"><a th:href="@{/find/rePwd}" id="rePwd">비밀번호 재설정하기</a></button>
				</div>
				<!-- // 비밀번호 재설정 버튼 -->
				
			</form>
			<!-- // findPw -->
			</div>
		</div>
	</div>
</body>
</html>