<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>페이징 출력</title>
</head>
<body>
	
	총 페이지 : <span th:text="${total_page}"></span><br>
	현재 페이지 : <span th:text="${curr_page}"></span><br>
	
	<hr>

	<!-- JSP/JSTL :
		<c:forEach items="${list}" var="member" varStatus="st">
			${st.count}&nbsp; ${member.id} &nbsp; ${member.name}<br>
		</c:forEach> 
	-->
	
	<table border="1" style="width:500px">
		
		<tr th:each="member, st : ${list}">
			<td>[[${st.count}]]</td>
			<td th:text="${member.id}"></td>
			<td th:text="${member.name}"></td>
		</tr>
		
	</table>
	
	
</body>
</html>